@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    For account https://github.com/samsmithnz
    <div class="table">
        <table>
            <tr>
                <th>Repository</th>
                <th>Actions</th>
                <th>Dependabot</th>
                <th>Branch policies</th>
                <th>GitVersion</th>
            </tr>
            <tr>
                <td>AzurePipelinesToGitHubActions</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Battle</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>DevOpsMetrics</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>GitHubActionsDotNet</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>RepoAutomation</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>TBS (private)</td>
                <td>Yes</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
        </table>
    </div>
</div>
