@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h4>For account https://github.com/samsmithnz (last updated 6-Jan-2022 10:34am EST)</h4>
    <div>
        <table class="table">
            <tr>
                <th>Repository</th>
                <th>Actions</th>
                <th>Dependabot</th>
                <th>Branch policies</th>
                <th>GitVersion</th>
                <th>Frameworks detected</th>
            </tr>
            <tr>
                <td><a href="https://github.com/samsmithnz/ASCII-DAG">ASCII-DAG</a></td>
                <td>Yes</td>
                <td>Yes</td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td>
                    <span class="badge bg-primary">.NET 6</span>
                </td>
            </tr>
            <tr>
                <td><a href="https://github.com/samsmithnz/AzurePipelinesToGitHubActionsConverter">AzurePipelinesToGitHubActionsConverter</a></td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td><b>No</b></td>
                <td>
                    <span class="badge bg-primary">.NET 6</span>
                    <span class="badge bg-primary">.NET Standard 2.0</span>
                </td>
            </tr>
            <tr>
                <td><a href="https://github.com/samsmithnz/Battle">Battle</a></td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>
                    <span class="badge bg-primary">.NET 6</span>
                    <span class="badge bg-primary">.NET Standard 2.0</span>
                </td>
            </tr>
            <tr>
                <td><a href="https://github.com/samsmithnz/DevOpsMetrics">DevOpsMetrics</a></td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td><b>No</b></td>
                <td>
                    <span class="badge bg-primary">.NET 6</span>
                </td>
            </tr>
            <tr>
                <td><a href="https://github.com/samsmithnz/FictionBook">FictionBook</a> (private)</td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td>
                    <span class="badge bg-secondary">Unknown</span>
                </td>
            </tr>
            <tr>
                <td><a href="https://github.com/samsmithnz/GitHubActionsDotNet">GitHubActionsDotNet</a></td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>
                    <span class="badge bg-primary">.NET 6</span>
                    <span class="badge bg-primary">.NET Standard 2.0</span>
                </td>
            </tr>
            <tr>
                <td><a href="https://github.com/samsmithnz/OpinionatedSoftwareAdvice">OpinionatedSoftwareAdvice</a></td>
                <td>Yes</td>
                <td><b>No</b></td>
                <td>Yes</td>
                <td>Yes</td>
                <td>
                    <span class="badge bg-secondary">Unknown</span>
                </td>
            </tr>
            <tr>
                <td><a href="https://github.com/samsmithnz/NewHouse">NewHouse</a> (private)</td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td>
                    <span class="badge bg-secondary">Unknown</span>
                </td>
            </tr>
            <tr>
                <td><a href="https://github.com/samsmithnz/ProjectIdeas">ProjectIdeas</a> (private)</td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td><b>No</b></td>
                <td>
                    <span class="badge bg-secondary">Unknown</span>
                </td>
            </tr>
            <tr>
                <td><a href="https://github.com/samsmithnz/repoautomation">RepoAutomation</a></td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>
                    <span class="badge bg-primary">.NET 6</span>
                </td>
            </tr>
            <tr>
                <td><a href="https://github.com/samsmithnz/samsfeatureflags">SamsFeatureFlags</a></td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>
                    <span class="badge bg-primary">.NET 6</span>
                </td>
            </tr>
            <tr>
                <td><a href="https://github.com/samsmithnz/tbs">TBS</a> (private)</td>
                <td>Yes</td>
                <td><b>No</b></td>
                <td>Yes</td>
                <td><b>No</b></td>
                <td>
                    <span class="badge bg-primary">.NET Standard 2.0</span>
                    <span class="badge bg-primary">.NET 6</span>
                </td>
            </tr>
            <tr>
                <td><a href="https://github.com/samsmithnz/TechDebtIdentification">Technical Debt Identification</a></td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>
                    <span class="badge bg-primary">.NET 6</span>
                </td>
            </tr>
        </table>
    </div>
</div>
